<!DOCTYPE html>
<html>
	<head>
		<title>JMI footer</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,
		initial-scale=1">
	</head>
	<body>
		<address>
			Jay Johnston
			<br>
			Johnston Metalwork Inc.
			<br>
			11622 N. Straits Hwy #C
			<br>
			Cheboygan MI 49721
			<br>
			231-627-7620
			<br>
			<a href="johnstonmetalwork.com">
				www.johnstonmetalwork.com
			</a>
			<br>
			Email: <a href="mailto:jmetalwork@sbcglobal.net">
				jmetalwork@sbcglobal.net
			</a>
		</address>
	</body>
</html>
